* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    flex-direction: column; 
    background-color:#dcedfe; 
    position: relative;
}

a{
    text-decoration: none;    
    color: #2f68b3;
    font-weight: bold;
}
ul{
    list-style: none;
}

p{
    font-size: small;
    color: #6a7a84;
}

main{
    background-color: white;
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid gray; 
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
}


/*Headers */
.header-top{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header-right {
    position: absolute;
    top: 40px;  
    right: 20px; 
    bottom: 0; 
    display: grid;
    grid-template-rows: auto 1fr; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px;
    justify-content: center; 
    background-color: #ebedef;
    border: 1px solid gray ;
    border-bottom: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

.header-bottom {
    background-color: #ebedef;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-left: 250px;
    border-top: 1px solid gray ;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 120px;  
    height: auto;
    margin-top: 2px;
    margin-left: 5px;
 }

 /*Header Right */
.account {
    grid-column: 1 / -1; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: small;
    color: gray;
}
.separator {
    font-weight: bold;
}
.account-buttons {
    background-color: white;
    font-size:x-small;
    width: 100px;
    height: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    border: 1px solid gray ;
    gap: 5px;
}

.account-buttons  a{
    font-weight: bolder;
    color:black;
}

 /*Header Bottom */
.tab-menu ul {
    list-style-type: none;
    white-space: nowrap;
    display: inline-block;
    margin-top: 10px;
    vertical-align: bottom;
}

.tab-menu ul li {
    display: inline;
    font-weight: bold;
    margin: 0 3px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}


.tab-menu ul li a {
    color: #2f68b3;
    background-color: white; 
    padding: 10px;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    border: 1px solid gray ;
    font-size: small; 
    font-weight: bold;
}

.tab-menu ul li.selected a{
    color: darkorange !important;
    border-bottom: 1px solid white;
    box-shadow: 0px 8px 10px rgb(255, 255, 255);
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    width: 250px; 
    margin-right: 380px;
    border:1px solid gray;
    
}

.search-form input {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    font-size: 14px;
}

.search-form button {
    background: none;
    cursor: pointer;
    font-size: 16px;
    border: none; 
    border-left: 1px solid gray; 
    padding: 4px; 
}

/* Sidebar */
aside.sidebar {
    width: 250px;
    height:100%;
    background-color: #eef8fe;
    position: absolute; 
    left: 0;
    top: 90px; 
    border: 2px solid gray; 
    border-left: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

button.close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    background: none;
    border: none;
    cursor: pointer;
    color: gray;
    padding-right: 5px;
}
.sidebar ul {
    list-style: none;
    margin-top: 10px;
}

.sidebar li {
    color: #676e70;
    padding: 5px 20px;
}

.sidebar a {
    color: #5f6366;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
}  

.sidebar ul li.more a{
    color: #2f68b3;
}
.sidebar ul li.selected{
    background-color: white;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.sidebar ul li.selected a{
    color: darkorange !important;
}

.siderbar-bottom {
    padding-right:20px;
}

.sidebar-sections{
    background-color: #ddedfe;
    border:1px solid gray;
    border-left: none;
    margin-block:10px;
    padding:10px 20px;
}

.sidebar-sections a{
    color: #2f68b3;
    font-weight: bold;
    text-transform: capitalize;
}
.ad img{
   width: 100%;
   height:auto;
}

.ad{
    text-align: right;
    font-weight: bold;
}


/* Sections */
.left-section, .right-section {
    flex: 1; 
    padding: 0;
    background-color: white;
}
.right-section{
    border-left: 1px solid gray;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f6f6f6;
}
.left-section ul{
    padding: 0;
}

.bottom-buttons{
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
.bottom-buttons button{
    padding: 4px;
    border-radius: 5px;
    border:1px solid #676e70;
    color:#5f6366;
    font-weight: bold;
    text-transform: uppercase;
}

.post{
    display: flex;
    flex-direction: row; 
    gap: 10px;
    align-items: center;
    padding:10px;
    border-bottom: 1px solid lightgrey;
    color: gray;
}
.post-title{
    font-weight: normal;
    color: #0000ff;
}
.title {
    font-size: medium;
    font-weight: normal;
    margin-bottom: 1px;
    outline: none;
    margin-right: .4em;
    padding: 0px;
    overflow: hidden;
    unicode-bidi: isolate;
}

.domain {
    font-size: small;
    display: inline;
    color: gray;
    
}
.domain a{
    font-weight: normal;
    color: gray;
}

.poster{
    color: blue;
    font-weight: normal;
}
.post-buttons{
    display: block;
    padding: 1px 0;
    margin:0;
    font-size: small;
    font-weight: bold;
}

.post-buttons li{
    display: inline; /* Makes list items appear in a row */
    margin-right: 10px; 
    
}

.post-buttons a{
    text-decoration: none;
    font-weight: bold;
    color: gray; 
    
}

.vote-container {
    display: flex;
    flex-direction: column;  
    align-items: center;
    width: 40px; 
    padding: 0;
}
.vote { 
    border: none;
    background: none;
    font-size: medium;
    cursor: pointer;
    padding: 0;
    transition: color 0.2s ease;
    color: gray
}

.vote-count {
    font-size: medium;
    font-weight: bold;
    color: #555;
    margin: 5px 0;
}

.upvoted{
    color:orange;
}

.downvoted{
    color:skyblue;
}

/* Right Section */
.reddit-post{
    padding:10px;
    margin: 10px;
    color: gray;
}

.comments-sections{
    border-top: 1px solid gray; 
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
    background-color: #f6f6f6;
}

.comment-form {
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}

.input-group {
    display: flex;
    width: 100%;
    gap: 10px;
}

.comment-form input {
    flex: 1; 
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-form button {
    width: auto; 
    padding: 0 5px; 
    margin-right: 20px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.comment-form a{
    text-align: right;
    margin-right:70px;
    margin-top:10px;
    font-size: small;
    font-weight: normal;
}

.comment{
    margin: 0 10px;
    padding: 10px;
    display: flex;
    align-items: top; 
    gap: 5px;
}
.comment a{
    font-weight: bold;
    text-decoration: none;

}

.comment-header{  
    font-size: small;
    color:gray; 
}

.comment-header .poster{
    color: #2f68b3; 
}

a.collapse{
    font-weight: normal;
}
.comment-body p{
    color:black;
}
.comment-body{
    display: flex;
    flex-direction: column; 
    gap: 4px;   
}

.replies{
    margin-left: 40px;
    border-left: 2px solid lightgray;
}
.replies .comment{
    padding: 5px 10px;
    padding-left: 0;
}

.post-image {
    text-align: center; 
    margin: 10px 0; 
}

.post-image img {
    width: 90px;
    height: auto; 
}

.description{
    display: flex;
    justify-content: space-between;     
    margin-top: 10px; 
}
.points{
    background-color: white;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: flex-end;
    font-size: small;
}

.points-text{
    font-weight: bold;
}

.points-number{
    font-weight: bold;
    font-size: large;
}

.percentage{
    display: inline-block; 
}

.link{
    font-size: small;
}

@media screen and (max-width: 768px) {
    aside.sidebar {
        display: none; 
    }
    .header-bottom{
        padding-left: 0;
    }
    .content{
        margin-left: 0;
    }

}
    


